<div>
  <ul class='list'>
    <li><a class="text-decoration-none"  routerLink="fromEvent">From Event</a></li>
    <li><a class="text-decoration-none"  routerLink="interval">Interval</a></li>
    <li><a class="text-decoration-none"  routerLink="OfFrom"> Of From</a></li>
    <li><a class="text-decoration-none"  routerLink="toArray">toArray</a></li>
    <li><a class="text-decoration-none"  routerLink="customObservable">custom Observable</a></li>
    <li><a class="text-decoration-none"  routerLink="map">map</a></li>
    <li><a class="text-decoration-none"  routerLink="pluck">Pluck</a></li>
    <li><a class="text-decoration-none"  routerLink="filter">Filter</a></li>
    <li><a class="text-decoration-none"  routerLink="tap">Tap</a></li>
  </ul>
  </div>
