<h1 class="m-5">map works!</h1>

<div class="row m-5">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Ex :1 'video'+res
      </div>
    </div>
    <p class="my-4">Message : <strong class="text-success">{{msg1}}</strong></p>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Ex 2: 10 + res
      </div>
    </div>
    <p class="my-4">Message : <strong class="text-success">{{msg2}}</strong></p>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Ex 2: Object particular Field
      </div>
    </div>
    <p class="my-4">Message : <strong class="text-success">name: {{msg3.name}}, Department: {{msg3.department}}</strong></p>
  </div>
</div>
