<h1 class="m-5">custom-observable</h1>

<div class="col-4 m-2">
  <h6>Ex - 01 (Manual) </h6>
  <hr>
 <ul class="m-3" id="CustomeOb">
  <!-- <li class="card card-header my-3" style="width: 18rem;">Angular.Js</li>
  <li class="card card-header my-3 " style="width: 18rem;">React.Js</li>
  <li class="card card-header my-3 " style="width: 18rem;">Node.Js</li>
  <li class="card card-header my-3 " style="width: 18rem;">Javascript</li> -->
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div> -->
 </ul>
  <p></p>
</div>
