<h1 class="m-5">Of-From</h1>
<strong class="m-5">EX :- 1 OF</strong>
<div class="d-flex d-row">
  <div class="  m-5">
    <div class="col-12">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data:</strong>of('jeel','narola','vivek)
      </p>
    </div>
    <ul id="elecontainer"></ul>
  </div>
  <div class=" m-5">
    <div class="col-12">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data:</strong>of(&#123;a:'jeel',b:'vivek',c:'vishal'&#125;)
      </p>
    </div>
    <ul>
      <li><strong>A : </strong>{{obsMsg.a}}</li>
      <li><strong>B : </strong>{{obsMsg.b}}</li>
      <li><strong>C : </strong>{{obsMsg.c}}</li>
    </ul>
  </div>
</div>
<hr><hr>
<strong class="m-5">EX :- 1 From</strong>
<div class="d-flex d-row">
  <div class=" m-5">
    <div class="col-12">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data:</strong>from(['jeel','vivek','vishal'])
      </p>
    </div>
    <ul id="Fromobse"> </ul>
  </div>
  <div class=" m-5">
    <div class="col-12">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data:</strong>Promises
      </p>
    </div>
    <ul id="promises"> </ul>
  </div>
</div>
