<h1 class="m-5">Form-Event</h1>
<div class="d-flex">
  <div class="card col-3 mx-2 card1">
    <h5 class="card-header">Add Video</h5>
    <div class="card-body">
      <button class="btn btn-primary" #addbtn>Add</button>
    </div>
  </div>

  <div class="card col-3 mx-2">
    <h5 class="card-header">List</h5>
    <div class="card-body">
     <ul id="elelement">

     </ul>
    </div>
  </div>
  <div class="card col-3 mx-2">
    <h5 class="card-header">List</h5>
    <div class="card-body">
     <ul id="elelement2">

     </ul>
    </div>
  </div>
</div>
