<div>
  <h1 class="m-5">Async / Await</h1>
</div>

<div class="d-flex">
  <div class="col-4 m-2">
    <h6>Ex - 01 : with Promise</h6>
    <hr>
    <button class="btn btn-primary" (click)="fetch1()">Buy Leptop</button>
    <hr>
    <p>{{data}}</p>
  </div>
  <div class="col-4 m-2">
    <h6>Ex - 01 : with Async / Await</h6>
    <hr>
    <button class="btn btn-primary" (click)="fetch2()">Buy Leptop</button>
    <hr>
    <p>{{data2}}</p>
  </div>
  <div class="col-4 m-2">
    <h6>Ex - 01 : with Promise</h6>
    <hr>
    <button class="btn btn-primary" (click)="fetch3()">Buy Leptop</button>
    <hr>
    <p>{{data3}}</p>
  </div>
</div>
