<h1 class="m-5">To Array</h1>
<p><strong class="me-3 ms-5">Definition:</strong>toArray is a complete A Stream After convert a Array use toArray Operator.</p>
<h5> Ex 01 :- Interval Use</h5>
<ul *ngFor="let item of stor;let i=index">
  <li>{{i}}</li>
</ul>
<h5><strong>Ex 02 :-</strong> From Opertor Use</h5>
<ul *ngFor="let item of fromstor;let i=index">
  <li>{{item.name}}</li>
</ul>
<h5><strong>Ex 03 :-</strong> Of Opertor Use</h5>
<ul *ngFor="let item of ofStore;let i=index">
  <li>{{item}}</li>
</ul>

